<link rel="stylesheet" href="{{ asset ("bundles/kitpagesusergenerated/css/style.css") }}">
<form class="kitpages-usergenerated-comment-form" action="{{ path ('KitpagesUserGeneratedBundle_comment_doNewPost') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.userName) }}
    {{ form_row(form.userEmail) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}

    {% if form.offsetExists("captcha") %}
        {{ form_row(form.captcha) }}
    {% endif %}

    <div style="display: none;">
    {{ form_rest(form) }}
    </div>

    <input type="submit" />
</form>